@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-background {
    background-color: #313447;
  }

  .secondary-background {
    background-color: #212330;
  }
}

@layer components {
  .lexend-deca-font {
    font-family: "Lexend Deca", sans-serif;
  }
}
